/* Main settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    font-family: 'Roboto', sans-serif;
}

/* Header menu */
.top_menu {
  background: #343434;
  color: #fff;
  display: flex;
  align-items: center; 
  padding: 0 8px; 
  height: 48px;
  align-items: stretch;
}

.on_menu {
  flex: 1; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

/* Dropdowns */

.dropdown {
  position: relative; 
  display: inline-block;  
  background: #3e3e3e;
  color: white;
  padding: 10px; 
  cursor: pointer; 
}

.dropdown:hover {
  background: #4e5257; 
}

.dropdown_content {
  display: none; 
  position: absolute; 
  background: #4e5257; 
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; 
  left: 0; 
}

.dropdown_content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #4e5257;
}

.dropdown_content a:hover {
  background-color: #e7e7e7c5;
}

/* Inputs */
input[type="text"] {
    width: 100%; /* Ширина на весь контейнер */
    height: 100%; /* Высота на весь контейнер */
    padding: 10px; /* Отступы внутри текстового поля */
    border: none; /* Убираем границу */
    background: #4e5257; /* Фон текстового поля */
    color: white; /* Цвет текста */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине и высоте */
}

.button {
  padding: 0 0 0 15px;
}

.plate {
    width: 95%;
    min-width: 800px;
    font-family: 'Montserrat';
}

.plate_container {
  display: inline;
  
}

footer {
    clear: both;
    padding-top: 15px;
    padding-bottom: 5px;
}

.copyright {
    color: #555555;
    float: right;
    font: bold 11px "Trebuchet MS", tahoma, arial, verdana;
    padding: 3px 5px 7px 0;
    vertical-align: middle;
    white-space: nowrap;
}

.main_head {
  font-size: 50px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 10px 0 2% 0;
  white-space: nowrap;
}

.plate_container p {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex: 1;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* .info * {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 20px;
} */

.cat {
  width: 35%;
  height: 10%;
}


.info_rows {
  display: grid;
  gap: 20px;
  width: 55%;
}

.rows_content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(213, 231, 226);
  padding: 24px 30px;
  border-radius: 70px;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
}

.rows_img {
  width: 80px;
  height: 80px;
  min-width: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rows_img img {
  width: 50px;
  height: 50px;
}

.enter_profile {
  width: 200px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}