/* Main settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    font-family: 'Roboto', sans-serif;
}

.visible_profile {
    display: block;
}


/* Header menu */
.top_menu {
  background: #343434;
  color: #fff;
  display: flex;
  align-items: center; 
  padding: 0 8px; 
  height: 48px;
  align-items: stretch;
}

.on_menu {
  flex: 1; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

/* Dropdowns */

.dropdown {
  position: relative; 
  display: inline-block;  
  background: #3e3e3e;
  color: white;
  padding: 10px; 
  cursor: pointer; 
}

.dropdown:hover {
  background: #4e5257; 
}

.dropdown_content {
  display: none; 
  position: absolute; 
  background: #4e5257; 
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; 
  left: 0; 
}

.dropdown_content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #4e5257;
}

.dropdown_content a:hover {
  background-color: #e7e7e7c5;
}

/* Inputs */
.profile_input {
    width: 100%; /* Ширина на весь контейнер */
    height: 100%; /* Высота на весь контейнер */
    padding: 10px; /* Отступы внутри текстового поля */
    border: none; /* Убираем границу */
    background: #4e5257; /* Фон текстового поля */
    color: white; /* Цвет текста */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине и высоте */
}

.button {
  padding: 0 0 0 15px;
}

/* Footer */

footer {
    clear: both;
    padding-top: 15px;
    padding-bottom: 5px;
}

.copyright {
    color: #555555;
    float: right;
    font: bold 11px "Trebuchet MS", tahoma, arial, verdana;
    padding: 3px 5px 7px 0;
    vertical-align: middle;
    white-space: nowrap;
}

/* Help info */
.help {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
}

.overlay {
  display: flex;
  visibility: hidden;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1000;
  opacity: 0;

  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.overlay.active {
  visibility: visible;
  opacity: 1;

}

.help_block {
  position: relative;
  width: 60%;
  height: 90%;
  margin: auto auto;
  z-index: 1001;
}

.help_block .help_close {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 1002;
  cursor: pointer;
  opacity: 0.7;
  color: #000000;
  font-size: 24px;
}

.help_block .help_close:hover {
  opacity: 1;
}

/* Main plate */

.plate {
    position: relative;
    width: 95%;
    min-width: 1000px;
    font-family: 'Montserrat';
    padding: 10px;
}

.plate_container {
  display: inline;
}

.main_head {
  font-size: 50px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 10px 0 2% 0;
  white-space: nowrap;
}

.plate_container p {
  display: flex;
  align-items: center;
}

.main_info {
  display: flex;
  flex: 1;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* .info * {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 20px;
} */

.cat {
  width: 30%;
  height: 10%;
}


.main_info_rows {
  display: grid;
  gap: 20px;
  width: 55%;
}

.rows_content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(228, 238, 235);
  padding: 24px 30px;
  border-radius: 70px;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
}

.rows_img {
  width: 80px;
  height: 80px;
  min-width: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rows_img img {
  width: 50px;
  height: 50px;
}

.enter_profile {
  width: 300px;
  height: 100px;
  margin: 20px auto auto;
  background-color: #3e3e3e;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
}