.profile {
  display: inline-flex;
  align-items: center;
}

.profile:hover {
  background: #4e5257; 
}

.profile_pic {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.profile_pic_container {
  background-color: white; 
  display: inline-block; 
  border-radius: 20px;
}

.nickname {
  padding: 0 0 0 10px;
}

.profile_container {
  cursor: pointer;
  background-color: #343434;
  position: relative;
}

.profile_container:hover{
  background-color: #4e5257;
}

.profile_container:hover .dropdown_content {
    display: block; 
}

.profilename_input {
  display: flex;
  align-items: center;
  justify-content: left;
}

.count_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1.analytics {
  padding-bottom: 0;
}

.second_head {
  font-size: 35px;
  font-weight: 400;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  white-space: nowrap;
}

.third_head {
  font-size: 30px;
  font-weight: 300;
  display: flex;
  justify-content: left;
  padding-top: 10px;
  padding-left: 20px;
  white-space: nowrap;
}

.watched_container {
  display: flex;
  align-items: center;
}

.description {
  font-size: 18px;
  font-weight: 300;
}

.metrics_container {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}

.metric_item {
  padding: 30px 0 30px 0;
}

.metric_value {
  font-size: 35px;
  font-weight: 350;
}