:root {
  --top-menu-height: 60px;
}

.l-top_menu-v2 {
  background: #343434;
  color: #fff;
  height: var(--top-menu-height);
  position: relative;
  z-index: 10;

  /* Flex alignment */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* 🔽 ВНУТРЕННИЕ ОТСТУПЫ */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box; 
}

.logo {
  background-image: url(../imgs/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;
  display: block;
}

.logo-container {

  display: inline-block;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  /* 🔽 если хочешь отступ вокруг самого логотипа */
  padding: 8px;
}
