<head>
   <link rel="stylesheet" href="static/css/main.css">
   <link rel="stylesheet" href="static/css/logo.css">
   <link rel="stylesheet" href="static/css/func.css">
   <link rel="stylesheet" href="static/css/profile.css">
</head>
<header class="top_menu">
   <div class="on_menu">
      <a class="logo-container" href="/" title="Шикилитикс">
         <div class="glyph"></div>
         <div class="logo"></div>
      </a>
   </div>
   <div class="dropdown on_menu">
         <div class="func_content on_menu">
            <div class="func_logo"></div>
            <span>Функции</span>
            <span class="dropdown_icon"></span>
         </div>
         <div class="dropdown_content">
            <a href="#function1">Функция 1</a>
            <a href="#function2">Функция 2</a>
            <a href="#function3">Функция 3</a>
         </div>
   </div>
    
      <div class="profile_container on_menu">
         <div class="profile">
               <div class="profile_pic_container">
                  <img class="profile_pic" src="{{profile_pic}}" srcset="https://shikimori.one/system/users/x80/511637.png?1552637750 2x">
               </div>
               <span class="nickname">{{ profile_name }}</span>
         </div>
         
         <div class="dropdown_content dropdown">
            <form class="profilename_input" id="profile-form" method="post">
               <input type="text" placeholder="Введите имя профиля" id="profile-id" name="profile_id" required>
               <button class="button" id="confirm-button" type="submit">Подтвердить</button>
            </form>
         </div>
      </div>
</header>