<header class="l-top_menu-v2">
   <div class="menu-logo">
      <a class="logo-container" href="https://shikimori.one/" title="Шикимори">
         <div class="glyph"></div>
         <div class="logo"></div>
      </a>
      <div class="menu-dropdown main">
         <span class="menu-icon trigger mobile" tabindex="-1"></span><span class="submenu-triangle icon-profile" tabindex="0"></span>
         
         <div class="submenu" style="display: block;">
         </div>
      </div>
   </div>
   <div class="menu-icon search mobile">
    <span>Профиль</span>
   </div>
   <div class="global-search" data-autocomplete_anime_url="https://shikimori.one/animes/autocomplete/v2" data-autocomplete_character_url="https://shikimori.one/characters/autocomplete/v2" data-autocomplete_manga_url="https://shikimori.one/mangas/autocomplete/v2" data-autocomplete_person_url="https://shikimori.one/people/autocomplete/v2" data-autocomplete_ranobe_url="https://shikimori.one/ranobe/autocomplete/v2" data-search_anime_url="https://shikimori.one/animes" data-search_character_url="https://shikimori.one/characters" data-search_manga_url="https://shikimori.one/mangas" data-search_person_url="https://shikimori.one/people" data-search_ranobe_url="https://shikimori.one/ranobe">
      <label class="field"><input placeholder="Поиск..." type="text"><span class="clear" tabindex="-1"></span><span class="hotkey-marker"></span><span class="search-marker"></span></label>
      <div class="search-results">
         <div class="inner"></div>
      </div>
   </div>
   <a class="menu-icon forum desktop" href="https://shikimori.one/forum" title="Форум"></a><a class="menu-icon contest" data-count="1" href="https://shikimori.one/contests/current" title="Текущий турнир"></a><a class="menu-icon mail" data-count="99" href="https://shikimori.one/Neas/messages/news" title="Почта"></a>
   <div class="menu-dropdown profile">
      <span data-unread_count="99" tabindex="0"><a class="submenu-triangle" href="https://shikimori.one/Neas"><img alt="Neas" src="https://shikimori.one/system/users/x48/511637.png?1552637750" srcset="https://shikimori.one/system/users/x80/511637.png?1552637750 2x" title="Neas"><span class="nickname">Neas</span></a></span>
   </div>
</header>