<body>
    <div class="overlay">
        <div class="help_block mx-auto bg-white shadow-xl rounded-2xl">
            <div class="help_close">&times;</div>

                <div class="help_text_container">
                    <div class="header">
                        <h1 class="text-4xl font-bold">Добро пожаловать в Shikilytics</h1>
                        <p>Ваш надежный помощник в мире аналитики и рекомендаций анимационного и мультипликационного контента</p>
                    </div>
                    <div class="info-grid">
                        <div class="info-card">
                            <h3 class="text-2xl font-bold">Верхняя панель</h3>
                            <p>
                                Нажатие на лого позволяет перейти на главную страницу и выйти из профиля. <br>
                                Во вкладке функции отображаются разработанные системы, выпадающий список поможет вам в ориентации по сайту. <br>
                                Последняя вкладка служит входом и отображением профиля, напишите имя профиля Shikimori и подтвердите его кнопкой или нажатием Enter. <br>
                            </p>
                        </div>
                        <div class="info-card">
                            <h3 class="text-2xl font-bold">Поиск по фильтрам</h3>
                            <p>
                                Найдите контент, который бы соответствовал вашим интересам и критериям фильтрации. 
                                Напишите описание контента который вы хотите посмотреть и отфильтруйте его.
                            </p>
                        </div>
                        <h3 class="text-3xl font-bold">Вход в профиль</h3>
                        <p>После входа в профиль вы откроете все функции рекомендационной системы!</p>
                        <div class="info-card">
                            <h3 class="text-2xl font-bold">Анализ вашего профиля</h3>
                            <p>Получите подробные отчеты о вашей активности и предпочтениях.</p>
                        </div>
                        <div class="info-card">
                            <h3 class="text-2xl font-bold">Индивидуальные рекомендации</h3>
                            <p>Откройте для себя новые интересные материалы, основанные на ваших вкусах.</p>
                        </div>
                        
                        <div class="info-card help_footer">
                            <h3 class="text-2xl font-bold">Обратная связь</h3>
                            <p>В случае ошибки или не предвиденного результата можете написать на почту: <a class="mail" href="https://mail.ru/nicka-rudnev@mail.ru">nicka-rudnev@mail.ru</a></p>
                        </div>
                    </div>
                    
                </div>

        </div>
    </div>
</body>