<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Shikilytics</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  
  {% include "header.html" %}
  
  <div class="max-w-4xl mx-auto bg-white shadow-xl rounded-2xl p-6">
    <h1 class="text-2xl font-bold mb-4 text-center">📊 Мой дашборд</h1>
    <div id="chart"></div>
  </div>

  <script>
    const trace = {
      x: ['2024-01', '2024-02', '2024-03'],
      y: [120, 150, 180],
      type: 'scatter',
      mode: 'lines+markers',
      line: { color: '#4f46e5', width: 3 }
    };

    Plotly.newPlot('chart', [trace], { margin: { t: 30 } });
  </script>
</body>
</html>