<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Shikilytics</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="static/css/plate.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
  
  {% include "header.html" %}
  
  <div class="plate mx-auto bg-white shadow-xl rounded-2xl p-6">
    <div id="chart"></div>
  </div>

  {% include "alert.html" %}
  {% include "footer.html" %}

</body>
</html>