<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Shikilytics Search</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="icon" href="{{ url_for('static', filename='imgs/ico.ico') }}" type="image/x-icon">
  <!--Roboto-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <!--Montserrat -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/func.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  
    {% include "header.html" %}
    {% include "loader.html" %}
    <div class="plate mx-auto bg-white shadow-xl rounded-2xl">

      <h1 class="main_head analytics">Аналитика профиля</h1>
      <h2 class="second_head">Список аниме</h2>
      <div class="count_container">
        {% for graph in count_figures %}
        {% if loop.index == 2 %}<div style="width: 100%;">{{ graph|safe }}</div>{% else %} {{ graph|safe }}{% endif %}
        {% endfor %}
      </div>
      <h2 class="second_head">Просмотренные аниме</h2>
      <div class="watched_container">
        <div>
        {% for graph in watched_figures %}
        <h3 class="third_head">{{watched_names[loop.index-1]}}</h3>
        {{ graph|safe }}
        {% endfor %}
        </div>
        <div class="metrics_container">
          
            {% for metric in watched_metrics %}
            <div class="metric_item">
            <label class="description">{{metric[0]}}</label>
            <div class="metric_value">{{metric[1]}}</div>
            </div>
            {% endfor %}
          
        </div>
      </div>
    </div>
    {% include "footer.html" %}
</body>